[Unit]
Description=Navidrome Music Server
After=network-online.target
Wants=network-online.target

[Service]
User=navidrome
Group=navidrome
WorkingDirectory=/var/lib/navidrome
ExecStart=/usr/lib/navidrome/navidrome --configfile /etc/navidrome/navidrome.toml
Environment="ND_LOGLEVEL=info"
Restart=on-failure
RestartSec=10
LimitNOFILE=65535
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
